<IfModule mod_rewrite.c>
RewriteEngine OnRewriteBase /
RewriteCond $1 !^(index\.php|images|captcha|data|include|uploads|robots\.txt)
RewriteCond % !-f
RewriteCond % !-d
RewriteRule ^(.*)$ /index.php/$1 [L]
</IfModule>

